<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <div class="field">
        <lable for="username">Title</lable>
        <input type="text" name="username" id="username">
    </div>

    <div class="field">
        <lable for="goal">Bid</lable>
        <input type="text" name="goal" id="goal">
    </div>

    <div class="field">
        <label for="caloric_choice">Select Goal</label>
        <select name="caloric_choice" id="caloric_choice">
            <option value="intake">Caloric Intake</option>
            <option value="deficit">Caloric Deficit</option>
        </select>
    </div>
    
</body>
</html>